/**
 * 重置样式
 */
button
  margin: 0
  padding: 0
  border: none
  border-radius: 0
  outline: 0
  overflow: visible
  background: transparent
  font-size: inherit
  line-height: 1
  color: inherit
  &:before
    content: ''
    display: none
  &:after
    content: ''
    display: none
