/* 平台版 */
.corp-platform-bg
  background: #73C200
.corp-platform-banner-bg
  background-image: linear-gradient(0deg, #ABE300 0%, #73C200 89%)
.corp-platform-text
  color: #73C200
.corp-platform-point-text
  color: #FF8506
.corp-platform-money
  color: #ff8300
.corp-platform-time
  color: #fff
.corp-platform-label
  background: #FF6803
.corp-platform-money-text
  color: #ff8300
  border-1px( #ff8300, 10px)
.corp-platform-tab
  color: #73C200
  border: 1px solid #73C200
.corp-platform-btn-disable
  background: #D5ECB3 !important
.corp-platform-goods-btn
  color: #73C200
  border-1px(#73C200, 15px)
.corp-platform-wallet-label
  color: #ff8300 !important
  background: rgba(255,131,0,0.16) !important
  border-1px(#ff8300, 8.5px) !important
.corp-platform-submit-order
  color: #ff8300
  background: rgba(255, 131, 0, .12)
/* 热团 */
.corp-retuan-bg
  background: #FC4D1A
.corp-retuan-banner-bg
  background-image: linear-gradient(-180deg, #FE8438 0%, #FC4D1A 89%)
.corp-retuan-text
  color: #FC4D1A
.corp-retuan-point-text
  color: #FC4D1A
.corp-retuan-money
  color: #FC4D1A
.corp-retuan-time
  color: #392B00
.corp-retuan-label
  background: #FC4D1A
.corp-retuan-money-text
  color: #FC4D1A
  border-1px( #FC4D1A, 10px)
.corp-retuan-tab
  color: #FC4D1A
  border: 1px solid #FC4D1A
.corp-retuan-btn-disable
  background: rgba(252,77,26,.5) !important
.corp-retuan-goods-btn
  color: #FC4D1A
  border-1px(#FC4D1A, 15px)
.corp-retuan-wallet-label
  color: #FC4D1A !important
  background: rgba(252,77,26,0.10) !important
  border-1px(#FC4D1A, 8.5px) !important
.corp-retuan-submit-order
  color: #EFB700
  background: rgba(255,199,18,0.16)
/* btn */
.lost
  .corp-platform-bg
    background: #73C200
    &:active
      color: #E1F2C9
      background: #9DD44C
  .corp-platform-bg-show
    background: rgba(115,194,0, .5)
  .corp-retuan-bg
    background: #FC4D1A
    &:active
      color: #E1F2C9
      background: #fc4a1a
  .corp-retuan-bg-show
    background: rgba(252,77,26,.5)

.end
  line-height: 1
  padding: 20px 0 26px
  text-align: center
  font-family: $font-family-regular
  font-size: $font-size-13
  color: $color-text-assist
